<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat thingy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bower_components/semantic-ui/dist/semantic.min.css" rel="stylesheet" media="all"/>
    <link href="bower_components/spectrum/spectrum.css" rel="stylesheet" media="all"/>
    <link href="fonts/stylesheet.css" rel="stylesheet" media="all">
    <link href="css/main.css" rel="stylesheet" media="all"/>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-144x144.png">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body ng-app="chatthingy" class="pushable nojs">
<div id="nojsbox" class="ui segment">
    <div class="ui error message">
        Please enable Javascript to use this application.
    </div>
</div>
<div ng-controller="MucController" id="participantlist" class="ui right overlay wide sidebar">
    <div class="ui segment">
        <h2 class="ui dividing header">Participants</h2>
        <div class="ui feed">
            <div class="event participant" ng-repeat="item in service.muc.participants" ng-if="item.type == 'available'">
                <div class="label avatar" ng-class="['label','avatar',item.type]">
                    <img data-ng-src="{{ item.avatar }}"/>
                </div>
                <div class="content">
                    <div class="nick summary" ng-bind="item.nickname">

                    </div>
                    <div class="extra text body" ng-if="item.status_message != ''"
                         ng-bind-html="item.status_message | formatOutput">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="informationbar" class="ui right overlay wide sidebar">
    <div class="ui segment">
      <h2 class="ui dividing header">About Chat-Thingy</h2>
      <p>Chat Thingy is a basic <a target="_blank" href="https://en.wikipedia.org/wiki/XMPP">XMPP</a>-Client which only supports „Multi User Chats“ (MUC for short) at the time.</p>
      <h3 class="ui dividing header">Contributing</h3>
      <p>The source code for this project is hosted at <a target="_blank" target="https://phablab.krautspace.de/diffusion/CT/">phablab.krautspace.de/diffusion/CT/</a>. If you have noticed any bugs or want to add whish you can do that also <a href="https://phablab.krautspace.de/maniphest/task/create/" target="_blank">open a ticket</a>.
      </p>
      <p id="chat-thingy-version"></p>
    </div>    
</div>
<div ng-controller="SettingsController" id="settings" class="ui modal" style="top: 0px;">
    <i class="close icon"></i>
    <div class="header">
      Settings
    </div>
    <div class="content">
      <div class="description">
        <div class="ui grid">
          <div class="five wide column">
            <div class="ui fluid vertical menu">
              <a class="item" ng-repeat="item in service.settings.groups" ng-click="changeGroup(item)">{{ item.display_name }}</a>
            </div>
          </div>
          <div class="eleven wide column">
            <form class="ui form">
              <div class="ui field segment" ng-repeat="item in service.settings.settings|filter:search" on-finish-render="initializeSemantic()">
                <label ng-bind="item.display_name"></label>
                <input data-show-alpha="true" type="{{ item.type }}" ng-model="item.value" placeholder="{{ item.default_value }}" ng-if="item.type != 'boolean'" />
                <select ng-options="item.value as item.label for item in bool_values" ng-model="item.value" ng-if="item.type == 'boolean'">

                </select>
                <p>{{ item.description }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button">
        Save
        <i class="save icon"></i>
      </div>
    </div>
  </div>
<div id="container" class="pusher">
    <div id="topbar" class="ui top attached menu" ng-controller="MucController">
        <div id="muc-subject" class="item" ng-bind-html="service.muc.subject | formatOutput">

        </div>
        <div class="right menu">
            <a id="participantlist-button" class="disabled item tooltip" data-content="Show the participant list of the chat">
                <i class="ui icon users"></i>
            </a>
            <a id="settings-button" class="item tooltip" data-content="Show the settings dialog">
                <i class="ui icon settings"></i>
            </a>            
            <a id="informationbar-button" class="item tooltip" data-content="Show some information about this application">
                <i class="ui icon info circle"></i>
            </a>
            <a id="signout" class="disabled item tooltip" data-content="Sign out">
                <i class="ui icon sign out"></i>
            </a>            
        </div>
    </div>
    <div id="messagestream-container" class="ui attached segment" scroll-glue>
        <form ng-controller="LoginController" id="loginform" novalidate="novalidate" class="ui form"
              ng-submit="login()">
            <p>
                Please enter your Nickname to continue:
            </p>

            <div class="required field nickname">
                <label>Nickname</label>
                <input name="nickname" type="text" autocomplete="off" ng-model="nickname">

                <div class="ui pointing red label" style="display: none;">
                    Nickname is already taken.
                </div>
            </div>
            <button href="" class="ui button">
                Login
            </button>
        </form>
        <div ng-controller="MucController" id="messagestream">
            <div class="ui feed">
                <div ng-repeat="item in service.messagestream" class="{{ item.type }} event">
                    <div class="label avatar">
                        <img data-ng-src="{{ item.user.avatar }}"/>
                    </div>
                    <div class="content">
                        <div class="summary">
                            <span class="nick" data-jid="{{ item.user.jid }}">{{ item.user.nickname }}</span>
                            <span ng-if="(item.type == 'presence') && (item.action == 'leave')">
                                parted
                            </span>
                            <span ng-if="(item.type == 'presence') && (item.action == 'join')">
                                joins
                            </span>
                            <span ng-if="(item.type == 'presence') && (item.action == 'rename')">
                                was {{ item.oldnick }}
                            </span>

                            <div class="date" am-time-ago="item.date">

                            </div>
                        </div>
                        <div class="extra text body" ng-if="item.type.indexOf('message') >= 0"
                             ng-bind-html="item.message | formatOutput">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="input" class="ui attached segment" ng-controller="MucController">
        <form class="ui form">
            <div class="ui icon input">
                <textarea
                        type="text"
                        mentio
                        mentio-typed-text="typedTerm"
                        mentio-items="service.muc.participants | filter:nickname:typedTerm"
                        mentio-template-url="templates/mentio.tpl"
                        mentio-menu-position="top"
                        ng-model="text">
                    </textarea>
                <i id="smilie-button" class="circular link smile icon"></i>
            </div>
            <div id="smilie-selector" class="ui popup">
                <div class="container">
                    <div class="ui mini button">
                        <span class="emoji">&#x1F601;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F602;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F603;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F604;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F605;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F606;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F607;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F608;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F609;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F610;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F611;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F612;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F613;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F614;</span>
                    </div>

                    <div class="ui mini button">
                        <span class="emoji">&#x1F615;</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="config.js"></script>
<script src="js/loader.js"></script>
</body>
</html>
